.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.test-label {
    text-align: center;
    color: white;
}

li {
    width: 150px;
    background-color: #5fd65f;
    margin-bottom: 8px;
    font-size: 16px;
    border: #282c34 1px solid;
    border-radius: 5px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 10px 0px 10px 10px;
}

.delete-button {
    background-color: black;
    border-radius: 15px;
    height: 20px;
    color: white;
    border-width: 0px;
    font-weight: bolder;
}

.button-container {
    cursor: hand;
    position: relative;
    float: right;
    margin: 0px 7px;
}

span.serverData {
    cursor: hand;
    background: #ff1a1a;
    position: relative;
    margin-right: 6px;
}

span.localData {
    cursor: hand;
    background: brown;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}